#titulo, #subtitulo{
    font-family: 'Koulen', cursive;
    color: beige;
    text-align: center;
    border: 0px;
}

#titulo{
    background-color: rgba(0, 0, 0, 0.3);
}

body{
    background-color: rgb(15, 15, 30);
}

a img{
    opacity: 100%;
    margin: 15px;
    transition-duration: 0.3s;
}

a img:hover{
    opacity: 30%;
}

.selector{
    background-color: black;
    display: flex;
    justify-content: center;
    border: 0px;
}

#final{
    padding: 50px;
    background-color: black;
    float: right;
}

.bloqueprox{
    display: inline-block;
    height: 280px;
    text-align: center;
}

.prox{
    font-family: 'Koulen', cursive;
    opacity: 100%;
    color: white;
    z-index: 3;
    margin: 0px;

    /* position: relative;
    left: 200px;
    top: 130px; */
}